*{
    margin: 0;
    padding: 0;
    font-weight: 300;
}

html, body{ 
    min-height: 100vh;
    width: 100vw;

    overflow: auto;

    font-size: 12pt;
}

body{
    background: #A1FFCF;
    background: -webkit-linear-gradient(bottom left, #A1FFCF, #FAFFD1);
    background: -moz-linear-gradient(bottom left, #A1FFCF, #FAFFD1);
    background: linear-gradient(bottom left, #A1FFCF, #FAFFD1);

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a{
    color: rgb(34, 36, 51);
    text-decoration: none;
}

h1{
    color: rgb(34, 36, 51);
    font-size: 36pt;
    font-weight: 300;
}

h2{
    color: rgb(34, 36, 51);
}

h3{
    color: rgb(34, 36, 51);
    display: inline;
    /*padding-left: 5px;*/
    font-weight: 300;
    font-size: 12pt;
}

p{
    opacity: 0.7;
}

b{
    font-weight: 500;
}

.button {
    border: 1px solid rgb(34, 36, 51);

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    background-color: rgb(34, 36, 51);

    color: white;
    font-size: 16pt;
    font-weight: 300;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover{
    background-color: transparent;
    color: rgb(34, 36, 51);
    border: 1px solid rgb(34, 36, 51);
}


#wrapper{
    height: 100vh;
    width: 100vw;
    
    background-color: white;

    -webkit-box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.13);
}

#wrapper #nav .name{
    width: calc(100vw - 100px); /* -100px because the icon in the navbar is 100px wide */
    
    float:left;

    color: rgb(34, 36, 51);

    font-size: 6vw;
    text-align: left;
    font-weight: 100;
}

/*Navigation*/
#nav{
    height: 9vh;
    width: 100vw;

    float: left;

    border-bottom: 1px solid rgba(34, 36, 51, 0.7);
}


#textaboutme{
    padding-top: 25px;
    line-height: 125%;
}

#experience{
    padding-top : 30px;
}

#experience h1{
    font-size: 15pt;
}

#experience .inner{
    height: 100px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.nav-element{
    height: 9vh;
    width: 150px;

    line-height: 9vh;

    float: right;

    text-align: center;
    vertical-align: middle;

    font-weight: 300;

}

.nav-element.dropdown {
    float:left;
    width:100px
}

.nav-element a, .social-element a{
    height: 100%;
    width: 100%;

    display: inline-block;
}

#nav .pages{
    display: none;
}

.dropdown .icon.desktop{
    display: none;
}

.dropdown .icon.mobile{
    pointer-events: none;
    cursor: default;
}

.nav-element.page a:hover{
    /*If you did borders the normal way, the borders would affect the size of the element under the regular box model. To avoid this use the following code. However this code will only work in IE version 9+*/
    -webkit-box-shadow:
     inset -1px   0 0 rgb(34, 36, 51),
     inset  1px   0 0 rgb(34, 36, 51),
     inset  0   1px 0 rgb(34, 36, 51);
  -moz-box-shadow:
    inset -1px   0 0 rgb(34, 36, 51),
    inset  1px   0 0 rgb(34, 36, 51),
    inset  0   1px 0 rgb(34, 36, 51);
  box-shadow:
    inset -1px   0 0 rgb(34, 36, 51),
    inset  1px   0 0 rgb(34, 36, 51),
    inset  0   1px 0 rgb(34, 36, 51);
}


div.nav-element.current{
    background-color: rgb(34, 36, 51);
}

div.nav-element.current a{
    color: white;
}

/*Main*/

#main{
    height: calc(86vh - 20vw - 2px); /* 2px are the border below the navigation and the border above the social media footer*/
    width: 80vw;
    margin: 10vw 10vw;
    float: left;
    /*border: 1px solid black;*/
}

#me{
    width: 80vw;
    height: 20vw;
}

#me img{
    width: 20vw;
    float: left;
    border-radius: 8px;
}

#me div{
    width: 55vw;
    height: 20vw;
    float: left;
    padding-left: 5vw;
}

#me h1{
    color: rgb(34, 36, 51);
    font-size: 5.5vw;
    font-weight: 300;
    line-height: 9vw;
}

#me h3{
    color: rgb(34, 36, 51);
    font-size: 4vw;
    font-weight: 300;
    line-height: 6vw;
}

#me h5{
    color: rgb(34, 36, 51);
    font-size: 3.5vw;
    font-weight: 200;
    line-height: 5vw;
}

/*Social Media Footer*/

.fas{
    color: rgb(34, 36, 51);
}

#social{
    height: 5vh;
    width: 100vw;

    border-top: 1px solid rgba(34, 36, 51, 0.7);

    text-align: center;
    display: inline-block;
}

.social-element{
    height: 5vh;
    line-height: 5vh;

    display: inline-block;

    margin-right: 20px;

    text-align: center;
    vertical-align: middle;
}

.social-element p{
    display: none;
}
.social-element i{
    display: inline-block;
}

/* Screens smaller than 768px - very unusual */
@media only screen and (max-width: 768px){
    .mobile_nav{

        width: 100vw;
        height: 50px;
        

        position: absolute;
        top: 9vh;
        display: none;
    }

    .mobile_nav a{
        position: block;
        float: left;

        height: 100px;

        vertical-align: middle;

        line-height: 100px;

        border-bottom: 1px solid black;

        background-color: white;
    }

    .mobile_nav a:active{
        background-color: rgb(34, 36, 51);
        color: white;
    }
    
}

/* Screens smaller than 960px*/
@media only screen and (max-width: 960px){
    /*.nav-element.dropdown:hover div, .nav-element.dropdown:focus div, .nav-element.dropdown:active div{*/
    #nav:hover .dropdown div, #nav:focus .dropdown div, #nav:active .dropdown div{ 
            display: inline;
            -webkit-user-select: none;
            -webkit-touch-callout: none
        }
}




/* Usual phone screens bigger than 768px */
@media only screen and (min-width: 768px){
    #wrapper{
        height: 90vh;
        width: 90vw;

        margin: 5vh 5vw;
    }

    #main{
        height: 76vh;/*calc(76vh - 2px); /* 76vh = 86vh - (2*5vh) 2px are the border below the navigation and the border above the social media footer*/
        width: 80vw;
        margin: 0 5vw;
    }

    .nav-element{
        width: 150px;
    }


    #wrapper #nav .name{
        font-size: 20pt;
        width: calc(90vw - 400px); /* change the width from -500px to 100px + (number of elements in the navbar * 150px) */
    }

    #nav, #social{
        width: 90vw;
    }


    #nav .pages{
        display: block;
    }

    .mobile_nav{
        display: none;
    }

    .dropdown .icon.mobile{
        display: none;
    }

    .dropdown .icon.desktop{
        display: block;
    }
}

/* Bigger phones and small tablets */
@media only screen and (min-width: 960px){
    .nav-element{
        width: 200px;
    }

    #wrapper #nav .name{
        font-size: 20pt;
        width: calc(90vw - 500px); /* change the width from -500px to 100px + (number of elements in the navbar * 200px) */
    }
}

/* Bigger tablets and small laptops */
@media only screen and (min-width: 1200px){
    .social-element p{
        display: inline;
    }
}

/* Smartphones in landscape mode */
@media only screen and (max-width: 768px) and (orientation: landscape){
    #wrapper #nav .name{
        font-size: 3vw;
    }
}